html {
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Para posar les fonts: 
font-family: Merriweather; font-style: normal; font-weight: 400; src: local('Merriweather'), url('data:application/x-font-woff;charset=utf-8;base64...'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    font-weight: 300;
    color: #000000;
}

/* Galeria imatges més destacades de l'inici */
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
    padding: 100px;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box:nth-child(1) {
    grid-column-start: span 2;
}

.box:nth-child(4) {
    grid-column-start: span 2;
}

@media (max-width: 991px) {
    .container {
        padding: 30px;
        grid-template-columns: repeat(1, 1fr);
    }

    .box:nth-child(1),
    .box:nth-child(4) {
        grid-column-start: span 1;
    }
}

/* Menú superior */
.logo {
    display: flex;
    align-items: center; /* Alinea verticalmente el logo */
    padding-left: 1rem;
    padding-top: 1rem;
}


header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem 0.5rem;
}

.nav-menu ul {
    display: flex;
    align-items: center;
    color: black;
}

.nav-menu li {
    margin-right: 0.5rem;
    position: relative;
    float: left;
    font-size: 20px;
    padding: 20px;
    display: block;
}

.nav-menu a:hover {
    color: #97bd92;
}

/* Highlights */
.highlights {
    background: #eeeeee;
    max-width: 100%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 6rem;
    text-align: center;
}

/* Footer */
.footer {
    font-size: 0.5rem;
    text-align: center;
    padding: 40px 0;
    background-color: #ffffff;
}

.menu-icon img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 2px;
}

.menu-icon,
#check {
    display: none;
}

@media (max-width: 760px) {
    .checkbtn {
        display: block;
    }

    .menu-icon {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    .nav-menu ul {
        display: block;
        position: fixed;
        top: 70px;
        left: -100%;
        background: #222;
        width: 100%;
        height: 100vh;
        right: 0;
    }

    .nav-menu ul li {
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .nav-menu ul li:last-child {
        background: none;
        padding: 1rem;
    }

    #check:checked~ul {
        left: 0;
        transition: all 0.25s;
    }
}

